.toast {
  width: 300px;
  padding: 12px;
  background-color: #363636;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.error-icon {
  font-size: 24px;
  color: rgb(205, 66, 12);
}

.title {
  font-size: 14px;
  color: aliceblue;
  font-weight: 500;
}
.subtitle {
  font-size: 13px;
  color: aliceblue;
}
